
body{
    background-color:black;
    color:white;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#loadingMessage{
    margin-top:18%;
    width:100%;
    text-align: center;
}

